#ordermain {
    height: 1200px;
    background-color: #dff5f5;
    padding: 1px;
}

#makeorder {
    float: left;
    margin-top: 20px;
    margin-left: 5%;
    line-height: 60px;
}
h1 {
    font-size: 1.5rem;
}

#makeorder p {
    margin-left: 5%;
}

#but1 {
    margin-left: 15%;
}


#getrec {
    float: right;
    margin-top: 20px;
    margin-right: 5%;
    line-height: 60px;
}

#getrec p {
    margin-left: 6%;
}

.nol {
    line-height: normal;
}

#godown {
    margin-bottom: 15px;
}